* {
  margin: 0;
}

body {
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 50px 0 50px;
}

#score-container {
  font-size: 30px;
  margin-bottom: 50px;
}

#rgb-color {
  font-size: 40px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: pink;
  line-height: 60px;
  width: 100vw;
  vertical-align: middle;
  margin: auto;
}

#answer {
  font-size: 40px;
  margin-top: 100px;
}

#ball-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  height: 180px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.ball {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.selected {
  border: 5px black solid;
}

#reset-game, #next-game {
  font-size: 25px;
  padding: 10px;
  width: 200px;
}

#next-game:enabled {
  background-color: green;
  color: white
}

footer {
  bottom: 10px;
  position: fixed;
  width: 100%;
}
